.dropdown {
  transition: max-height .5s;
  overflow: hidden;
  background: #fff;
  border-bottom: 2px solid #bfcad2;
  margin-top: 10px;
  padding: 0 10px;
}

.active {
  max-height: 1000px;
}

.inactive {
  max-height: 0;
  border-bottom: none;
}

.booking-request-header {
  text-transform: uppercase;
  padding: 15px 0 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #ecf0f1;
}

.booking-dates {
  margin-top: 10px;
  display: flex;
}

.booking-request-dates, .booking-request-message {
  display: flex;
  flex-direction: column;
}

.booking-request-message span {
  margin: 30px 0 10px 0;
}

.booking-request-message textarea {
  height: 200px;
  padding: 10px 0 0 10px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
}

.booking-request-input {
  padding: 8px;
  margin-top: 10px;
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.booking-request-dates:first-of-type {
  margin-right: 20px;
}

.booking-actions {
  text-align: right;
  padding-bottom: 7px;
}

.booking-dropdown-button {
  line-height: 1;
  color: #fff;
  border: none;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  max-width: 240px;
  text-align: center;
  margin-right: 7px;
  outline: none;
}

.booking-dropdown-button:first-of-type {
  background: #afb7c3;
  margin-right: 7px;
}

.booking-dropdown-button:last-of-type {
  background: #287fb8;
}
