.dashboard {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 80%;
}

.where-text {
  font-size: 24px;
  padding: 23px;
  font-weight: 300;
}

.dash-user {
  text-align: center;
  min-width: 40%;
  padding: 0px 10px 10px 10px;
}

.user-photo {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
}

.dash-user-info {
  display: flex;
  flex-direction: column;
  background: white;
  border-bottom: 2px solid #bfcad2;
  padding-bottom: 20px;
}

.dash-name {
  margin-top: 10px;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
}


.trips {
  width: 80%;
  height: auto;
}

.search-all {
  background: white;
  height: auto;
}

.upcoming-guests, .travel, .random-locations {
  background: white;
  height: auto;
  margin-top: 7px;
}

.dash-text {
  padding: 15px 20px 20px 20px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #ecf0f1;
  line-height: 1.5em;
}

.icons {
  padding-right: 10px;
}

.travel-plans {
  height: 50%;
}

.inside-text {
  padding: 15px;
  text-align: center;
  background: #fbfcfc;
  border-bottom: 2px solid #bfcad2;
}
