.header-title {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.subheader {
  justify-content: space-between;
  background: white;
  display: flex;
  color: white;
  height: 50px;
  border-bottom: 2px solid #bfcad2;
}

.wordmark {
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Delius', cursive;
  color: #D4490B;
  font-weight: bold;
}

.join-button, .sign-out {
  border: 1px solid #287fb8;
  font-family: 'Lato', sans-serif;
  background: #287fb8;
  color: white;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 240px;
  padding: 8px 12px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: normal;
  margin: 5px 5px;
}

.login-guest {
  border: 1px solid #D4490B;
  font-family: 'Lato', sans-serif;
  background: #D4490B;
  color: white;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 240px;
  padding: 8px 12px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: normal;
  margin: 5px 5px;
}

.login-button {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  border: 1px solid #287fb8;
  background: white;
  color: #287fb8;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  max-width: 240px;
  text-align: center;
}

.message-icon {
  color: black;
  font-size: 2em;
}
