.hosts-search {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-height: 500px;
  display: flex;
  flex-direction: ltr;
  padding: 5px;
}

.img-placeholder {
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.5em;
  padding-right: 10px;
}

.host-index-photo {
  width: 75px;
  height: 75px;
}

.hosts-index {
  font-family: 'Lato', sans-serif;
  width: 55%;
  background: white;
  margin-right: 3px;
  overflow: scroll;
}

.no-hosts {
  font-family: 'Lato', sans-serif;
  width: 55%;
  background: white;
  margin-right: 3px;
}

.google-map {
  background: white;
  padding: 5px;
}

.hosts-available {
  margin: 10px 5px;
}

.host-index-module {
  display: flex;
  flex-direction: ltr;
  padding-left: 10px;
  border-bottom: 1px solid #ecf0f1;
}

.host-index-details {
  display: flex;
  flex-direction: ltr;
  justify-content: space-between;
}

.host-index-info {
  padding: 10px 5px;
}

.host-index-name {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.host-index-location {
  font-size: 12px;
}

.index-accepting-guests {
  padding-top: 20px;
  text-align: center;
  color: #41b866;
  font-size: .9rem;
  font-weight: bold;
  line-height: 1.25em;
  right: 0
}

.index-no-guests {
  padding-top: 20px;
  text-align:  center;
  color: #ff3f2e;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1.25em;
}
