.host-show-main {
  margin: 0 auto;
  width: 60%;
  font-family: 'Lato', sans-serif;
  display: flex;
}

.about-me {
  margin-top: 10px;
  height: 100%;
  background: white;
  border-bottom: 2px solid #bfcad2;
}

.about-me-header {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ecf0f1;
}

.about-me-body {
  margin: 5px 10px 0 10px;
  padding: 5px;
  font-size: 14px;
}

.host-show-photo {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.host-show-user {
  text-align: center;
  background: white;
  min-width: 20%;
  height: 300px;
  border-bottom: 2px solid #bfcad2;
  padding-top: 15px;
}

.host-show-name {
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.host-show-location {
  font-size: 14px;
  text-align: center;
}

.host-show-about {
  width: 80%;
  height: auto;
  margin-left: 10px;
}

.host-booking {
  display: flex;
  background: white;
  border-bottom: 2px solid #bfcad2;
  justify-content: space-between;
  padding: 15px 8px;
}

.accepting-guests {
  color: #41b866;
  font-size: 1.5em;
}

.not-accepting-guests {
  color: #ff3f2e;
  font-size: 1.5em;
}

.request-button {
  background: #287fb8;
  border: 1px solid #287fb8;
  width: auto;
  font-size: 14px;
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
  outline: none;
}
