.auth-modal {
  border: 1px solid black;
  font-family: 'Lato', sans-serif;
  height: 603px;
  width: 400px;
  background: white;
  z-index: 2000;
}

.entire-modal {
  z-index: 100;
  background: black;
  height: 1000px;
  position: fixed;
  display: table;
  display: block;
}

p {
  z-index: 0
}
