// Header of session modals
.modal-exit {
  cursor: pointer;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 5px 20px;
}

.modal-head-text {
  font: 2rem;
  color: #27374c;
  font-weight: bold;
}

// First & Last Name of User
.input-name {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  margin: 0 15px;

  input {
    padding-left: 5px;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    border: 1px solid #aeb5ba;
    font-size: inherit;
  }

  .input-last-name {
    margin-left: 10px;
  }
}


//Username, Password, and Submit button
.auth-form-username, 
.auth-form-password {
  padding-left: 5px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  border: 1px solid #aeb5ba;
  font-size: .9rem;
  margin-bottom: 15px;
}

.auth-form {
  margin: 15px 22px 0 15px;
}

.alt-text {
  font-size: 1rem;
  text-align: center;
}

.submit-button {
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: .9rem;
  letter-spacing: 1px;
  height: 35px;
  width: 102%;
  background: #287fb8;
  border: 1px solid #287fb8;
  margin-bottom: 20px;
}

//Modal toggle
.alt-text {
  font-size: 1.25rem;
  text-align: center;
}

.form-switch {
  width: 30%;
  height: 30px;
  font-size: .9rem;
  border: 1px solid #287fb8;
  color: #287fb8;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
