.sign-log {
  border-radius: 3px;
  width: 100%;
  background: white;
}

.whole-name {
  display: flex;
  padding-bottom: 8px;
  font-size: 14px;
}

.left-name {
  margin-left: 5%;
  margin-right: 3px;
  padding-right: 2%;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  border: 1px solid #aeb5ba;
  background: white;
  display: block;
  font-size: inherit;
}

.right-name {
  margin-right: 5%;
  margin-left: 3px;
  padding-left: 2%;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  border: 1px solid #aeb5ba;
  background: white;
  display: block;
  font-size: inherit;
}
