.tgp-text {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 40px;
  font-style: normal;
}

.the-grand-piece {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.tgp-top {
  display: flex;
  flex-direction: ltr;
  height: 75%;
}

.tgp-top-left {
  display: flex;
  flex-direction: ltr;
  width: 50%;
}

.tgp-top-left-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tgp-top-left-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tgp-top-right {
  display: flex;
  flex-direction: column;
}

.tgp-top-right-1 {
}

.tgp-top-right-2 {
  display: flex;
  flex-direction: row;
}

.tgp-top-right-2-left {
}

.tgp-top-right-2-right {
  display: flex;
  flex-direction: column;
}

.tgp-bottom {
  display: flex;
  flex-direction: ltr;
}

.tgp-bottom-left {
  width: 50%;
}

.tgp-bottom-right {
  display: flex;
  flex-direction: ltr;
}

.p1 {
  height: 75%;
  background: red;
}

.p2 {
  height: 25%;
  background: blue;
}

.p3 {
  height: 25%;
  background: orange;
}

.p4 {
  height: 75%;
  background: green;
}

.p5 {
  background: red;
}

.p6 {
  background: blue;
  height: 100%;
}

.p7 {
  height: 50%;
  background: orange;
}

.p8 {
  height: 50%;
  background: green;
}

.p9 {
  background: orange;
}

.p10 {
  width: 50%;
  background: red;
}

.p11 {
  width: 50%;
  background: orange;
}
