body {
  background-color: #f1efea;
}

.welcome-screen {
  height: 600px;
  background-image: url("../welcome.jpg");
}

.welcome-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.overlay-text {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  padding-top: 200px;
  color: white;
  font-weight: 300;
  text-align: center;
}

.overlay-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  color: white;
  text-align: center;
  font-weight: 100;
}

.how-it-works{
  margin: 10px 0;
  padding: 50px 0;
  background: #ed6504;
}

.hiw-text {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 7px;
}

.hiw-info {
  display: flex;
  padding-top: 30px;
  width: 40%;
  margin: 0 auto;
}

.hiw-discover {
  height: 200px;
  background: #ff855c;
  margin: 5px;
  max-width: 500px;
  height: 250px;
}

.hiw-find {
  height: 200px;
  background: #ff855c;
  margin: 5px;
  max-width: 400px;
  height: 250px;
}

.hiw-discover img, .hiw-find img {
  height: 40%;
  margin: 0 auto;
  padding-top: 5px;
  display: block;
}

.hiw-info-text {
  padding: 10px 5px;
  font-size: 14px;
  text-align: center;
  color: white;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}

.short-underline {
  padding-top: 5px;
  margin: 0 auto;
  width: 50px;
  border-bottom: 2px solid white;
}

.shorter-underline {
  padding-top: 5px;
  margin: 0 auto;
  width: 30px;
  border-bottom: 2px solid white;
}

.the-grand-piece {
  margin: 0 auto;
  width: 80%;
  height: 600px;
}

.tgp-text {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 56px;
}

.tgp-header {
  font-family: 'Lato', sans-serif;
  color: #34495e;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

.other-destinations {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: auto;
}

.the-grand-piece {
  display: flex;
  flex-direction: column;
  height: auto;
  position: auto;
}

.tgp-top {
  display: flex;
  flex-direction: ltr;
  height: 75%;
  width: 100%;
}

.tgp-top-left {
  display: flex;
  flex-direction: ltr;
  height: 100%;
  width: 50%;
}

.tgp-top-left-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.tgp-top-left-2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.tgp-top-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.tgp-top-right-1 {
  overflow: hidden;
  height: 33.3333333333%;
  width: 100%;
}

.tgp-top-right-2 {
  height: 66.6666666667%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tgp-top-right-2-left {
  height: 100%;
  width: 50%;
}

.tgp-top-right-2-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tgp-bottom {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: ltr;
}

.tgp-bottom-left {
  height: 100%;
  width: 50%;
}

.tgp-bottom-right {
  display: flex;
  flex-direction: ltr;
  height: 100%;
  width: 50%;
}

.splash-img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 5px;
}

.splash-img:hover {
  transform: scale(1.1);
  transition: .3s ease-out;
}

.p1 {
  overflow: hidden;
  height: 66.6666666667%;
  width: 100%;
}

.p2 {
  overflow: hidden;
  height: 33.3333333333%;
  width: 100%;
}

.p3 {
  overflow: hidden;
  height: 33.3333333333%;
  width: 100%;
}

.p4 {
  overflow: hidden;
  height: 66.6666666667%;
  width: 100%;
}

.p5 {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.p6 {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.p7 {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.p8 {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.p9 {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.p10 {
  overflow: hidden;
  height: 100%;
  width: 50%;
}

.p11 {
  overflow: hidden;
  background: red;
  height: 100%;
  width: 50%;
}
